<% provide :title, t(:edit_lesson) %>
<% provide :button_text, t(:edit_lesson) %>
<h1> <%= t(:edit_lesson) %> </h1>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_for @lesson do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <div class= "form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class= "form-group">
        <%= f.label :objective %>
        <%= f.text_area :objective, class: "form-control" %>
      </div>
      
      <%= f.submit yield(:button_text), class:"btn btn-primary"%>
    <% end %>
  </div>
</div>
