<% provide(:title, @lesson.name) %>
<h1> <%= @lesson.name %> </h1>
<div class= "container">
  <div class="row">
    <div class="col-md-10">
      <div class="lesson-actions">
        <%= link_to t(:edit_lesson), edit_lesson_path(@lesson), class:"btn btn-primary" %>
      </div>
      <div class="lesson-info">
        <h3> <%= "#{t :lesson_objective}: " %> </h3>
        <%= @lesson.objective %>
      </div>

      <div class="lesson-actions">
        <%= form_tag import_categories_path, multipart: true do %>
          <%= file_field_tag :file, accept: ".csv" %>
          <br><br>
          <%= submit_tag t(:up_file), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
