<% provide(:title, @course.name) %>
<h1> <%= @course.name %> </h1>
<div class= "container">
  <div class="row">
    <div class="col-md-10">
      <div class="course-actions">
        <% if admin? %>
          <%= link_to t(:edit_course), edit_course_path(@course), class: "btn btn-primary" %>
          <%= link_to(t(:delete_course), course_path(@course), method: 'delete',
                      class: "btn btn-primary", data: { confirm: t(:cf_delete_course) }) %>
        <% end %>
      </div>
      
      <div class="course-info">
        <h3> <%= "#{t :about_course}: " %> </h3>
        <%= @course.desc %>
      </div>

      <div class="lessons">
        <h5> <%= t :lessons %> </h5>
        <% if admin? %>
          <%= link_to t(:add_lesson), new_course_lesson_path(@course), 
                      class: "btn btn-dark add-link" %>
        <% end %>
        <br>
        <%= will_paginate @lessons, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
          <ul class="lessons-list">
            <%= render @lessons %>
          </ul>
        <%= will_paginate @lessons, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
    </div>
  </div>
</div>
