<footer class="footer">
  <div class="footer-left">
    <small> Made with Ruby on Rails </small>

    <br>
    
    <%= link_to "English", locale:"en" %>
    <%= link_to "Tiếng Việt", locale:"vi" %>
  </div>
  
  <ul>
    <li>
      <%= link_to "About", about_path %>
    </li>

    <li>
      <%= link_to "Help", help_path %>
    </li>

    <li>
      <%= link_to "News", news_path %>
    </li>
  </ul>
</footer>
